/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
}

:root {
    --mainColor: rgb(17, 72, 82);
}

img {
    width: 200px;
    height: 200px;
}

nav {
    background-color: white;
}


/* article,
section {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid black;
    width: 300px;
    margin: 80px auto;
    padding: 15px;
} */

p {
    padding: 10px;
    margin: auto;
}

textarea {
    border: 1px solid black;
}


/* main {
    position: relative;
} */

footer {
    position: fixed;
    margin-top: 150px;
    bottom: 0;
    display: flex;
    width: 100%;
    background-color: white;
}

h2,
h1 {
    font-size: 22px;
    text-align: center;
}

h3 {
    margin: 20px auto;
    text-align: center;
}

footer address {
    margin: auto;
}

form {
    display: flex;
    flex-direction: column;
    flex: 1;
}

form textarea {
    height: 150px;
}

button {
    border: 1px solid black;
    margin: auto;
    width: 150px;
    background-color: var(--mainColor);
    color: white;
}

header {
    position: fixed;
    top: 0;
    padding: 0;
    height: 110px;
    width: 100%;
    text-align: center;
    width: 100%;
    background-color: var(--mainColor);
    text-align: left;
}

.PaginationButtonContainer {
    flex-direction: row;
    justify-content: center;
}

.PaginationButtonContainer button {
    flex: 1;
    margin: 5px;
    padding: 5px;
    justify-content: space-between;
}

#headerLogo {
    height: 90px;
    width: 80px;
    margin: 10px;
}

#loginContainer {
    margin-top: 150px;
}

#loginForm {
    width: 300px;
}

#loginForm input {
    width: 200px;
}

.notFoundPage {
    margin-top: 150px;
}

.landing-page {
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: var(--mainColor);
    color: white;
}

.landing-page p {
    width: 200px;
    margin: 0 auto 20px;
    padding: 20px;
}

.landing-page a {
    color: white;
}

.landing-page img {
    padding: 10px;
    margin: 50px auto 0;
    width: 200px;
    height: 200px;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 45px;
    right: 0;
    padding: 5px;
    flex-direction: column;
    background-color: var(--mainColor);
    letter-spacing: .25px;
    width: 210px;
}

.nav-links li {
    text-align: right;
    font-size: 18px;
    font-weight: bold;
}

.nav-links li a {
    display: flex;
    color: white;
    position: relative;
    margin: 5px;
    justify-content: flex-end;
    text-decoration: none;
    cursor: pointer;
    line-height: 25px;
}

.admin-nav-links {
    text-align: right;
    overflow: hidden;
    height: 30px;
    margin-left: 120px;
    padding: 5px;
}

#admin-folder {
    color: white;
    text-decoration: none;
    text-align: right;
    font-size: 19px;
    letter-spacing: .35px;
    line-height: 25px;
    font-weight: bold;
}

.admin-nav-links li {
    justify-content: flex-end;
    font-weight: normal;
}

.nav-links li:hover {
    text-decoration: underline;
}

.admin-nav-links:hover {
    height: 150px;
    background-color: var(--mainColor);
    width: fit-content;
    margin-left: 30px;
    letter-spacing: .25px;
}


/* @media screen and (min-width:650px) {
    #landing-nav-links {
        display: flex;
        justify-content: space-evenly;
    }
    #landing-nav-links li a {
        position: relative;
    }
    .nav-links-container {
        font-size: 18px;
        background-color: white;
    }
    .nav-links-container li a {
        text-decoration: none;
        color: white;
    }
    .nav-links-container li {
        padding: 10px;
    }
    .admin-nav-links {
        height: 30px;
        width: 75px;
        flex-direction: column;
        justify-content: normal;overflow: hidden;
    }
    
    .admin-nav-links:hover {
        height: 200px;
        background-color: var(--mainColor);
        width: fit-content;
    }
    .landing-nav-container {
        font-size: 18px;
        background-color: white;
    }
    .landing-nav-container li a {
        text-decoration: none;
        color: var(--mainColor);
    }
    .landing-nav-container li {
        padding: 10px;
    }
    .landing-admin-links-container {
        height: 30px;
        width: 75px;
        flex-direction: column;
        justify-content: normal;
    }
    .landing-admin-links-container {
        overflow: hidden;
    }
    .landing-admin-links-container:hover {
        height: 175px;

width: fit-content;

}
.landing-page {
    padding: 30px;
}
.landing-page img {
    padding: 10px;
    margin: 50px auto 0;
    width: 400px;
    height: 400px;
}
.landing-page p {
    width: 400px;
    margin: 0 auto 30px;
    padding: 30px;
}

}
*/